@tailwind base;
@tailwind components;
@tailwind utilities;

.contain{
  max-width: 1200px;
  margin: auto;
}
body{
  background-image: url(/public/debby-hudson-FsrRDNVBS2Y-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-color: #c7ecee;
}